@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400,700&display=swap");

@layer typography {
  :root {
    --font-size-tp-one: calc(44 / 16 * 1rem);
    --font-size-tp-two: calc(28 / 16 * 1rem);
    --font-size-tp-three: calc(16 / 16 * 1rem);
    --font-size-tp-four: calc(15 / 16 * 1rem);
    --font-size-tp-five: calc(13 / 16 * 1rem);
    --font-size-tp-six: calc(12 / 16 * 1rem);

    --line-height-tp-one: calc(48 / 16 * 1rem);
    --line-height-tp-two: calc(32 / 16 * 1rem);
    --line-height-tp-three: calc(26 / 16 * 1rem);
    --line-height-tp-four: calc(26 / 16 * 1rem);
    --line-height-tp-five: calc(16 / 16 * 1rem);
    --line-height-tp-six: calc(15 / 16 * 1rem);

    --letter-spacing-tp-five: calc(2 / 16 * 1rem);
    --letter-spacing-tp-six: calc(1.85 / 16 * 1rem);

    --text-preset-1: 700 var(--font-size-tp-one) / var(--line-height-tp-one)
        "Kumbh Sans",
      sans-serif;
    --text-preset-2: 700 var(--font-size-tp-two) / var(--line-height-tp-two)
        "Kumbh Sans",
      sans-serif;
    --text-preset-3: 400 var(--font-size-tp-three) / var(--line-height-tp-three)
        "Kumbh Sans",
      sans-serif;
    --text-preset-3-bold: 700 var(--font-size-tp-three) /
        var(--line-height-tp-three) "Kumbh Sans",
      sans-serif;
    --text-preset-4: 400 var(--font-size-tp-four) / var(--line-height-tp-four)
        "Kumbh Sans",
      sans-serif;
    --text-preset-5: 700 var(--font-size-tp-five) / var(--line-height-tp-five)
        "Kumbh Sans",
      sans-serif;
    --text-preset-6: 700 var(--font-size-tp-six) / var(--line-height-tp-six)
        "Kumbh Sans",
      sans-serif;
  }
}

@layer colors {
  :root {
    --white: #ffffff;
    --black: #000000;

    --grey-950: rgb(29, 32, 38);
    --grey-500: #69707d;
    --grey-300: #c3cad9;
    --grey-100: #e4e9f2;
    --grey-50: #f6f8fd;

    --orange-500: #ff7e1b;
    --orange-300: #ffab6a;
  }
}

@layer reset {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    min-height: 100vh;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  ul {
    list-style: none;
  }

  body {
    line-height: 1.5;
  }

  a {
    color: currentColor;
    text-decoration: none;
  }

  img,
  picture {
    max-width: 100%;
    height: auto;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font-family: inherit;
    font-size: inherit;
  }
}

@layer layout {
  body {
    --content-width: calc(327 / 16 * 1rem);

    @media (width >= calc(768 / 16 * 1rem)) {
      --content-width: calc(608 / 16 * 1rem);
    }

    @media (width >= calc(1440 / 16 * 1rem)) {
      --content-width: calc(1110 / 16 * 1rem);
    }

    display: grid;
    grid-template-columns: 1fr var(--content-width) 1fr;

    > * {
      grid-column: 2;
    }
  }

  header {
    grid-column: 1 / -1;
  }

  main {
    grid-column: 1 / -1;

    @media (width >= calc(768 / 16 * 1rem)) {
      grid-column: 2;
    }
  }
}

@layer header {
  .header {
    padding: calc(20 / 16 * 1rem) calc(24 / 16 * 1rem);
    display: flex;
    align-items: center;
    position: relative;

    @media (width >= calc(768 / 16 * 1rem)) {
      padding: calc(28 / 16 * 1rem) 0;
      border-bottom: calc(1 / 16 * 1rem) solid var(--grey-100);
      grid-column: 2;
    }

    .header__open-navigation {
      display: flex;
      margin-inline-end: calc(16 / 16 * 1rem);
      margin-block-start: calc(5 / 16 * 1rem);

      @media (width >= calc(1440 / 16 * 1rem)) {
        display: none;
      }
    }

    .header__open-navigation[aria-expanded="true"] ~ .header__navigation {
      translate: 0;
    }

    .header__open-navigation[aria-expanded="true"]
      ~ .header__navigation-overlay {
      display: block;
    }

    .header__navigation {
      position: fixed;
      top: 0;
      left: 0;
      width: calc(250 / 16 * 1rem);
      height: 100vh;

      z-index: 3;
      background-color: var(--white);

      padding: calc(24 / 16 * 1rem);

      translate: -100% 0;
      transition: translate 0.5s;

      .header__close-navigation {
        margin-block-end: calc(56 / 16 * 1rem);
        background-color: transparent;

        @media (width >= calc(1440 / 16 * 1rem)) {
          display: none;
        }
      }

      @media (width >= calc(1440 / 16 * 1rem)) {
        position: static;
        width: auto;
        height: auto;
        translate: 0;
      }
    }

    .header__navigation-overlay {
      position: fixed;
      inset: 0;
      background: var(--black);
      opacity: 0.5;
      z-index: 2;
      display: none;
    }

    .header__navigation-links {
      display: flex;
      flex-direction: column;
      gap: calc(24 / 16 * 1rem);

      font: var(--text-preset-4);
      color: var(--black);
      font-weight: 700;

      @media (width >= calc(1440 / 16 * 1rem)) {
        flex-direction: row;
        gap: calc(32 / 16 * 1rem);
        margin-inline-start: calc(56 / 16 * 1rem);
        margin-block-start: calc(5 / 16 * 1rem);

        color: var(--grey-500);
        font-weight: 400;

        a {
          padding-bottom: calc(53 / 16 * 1rem);
        }

        a:focus {
          border-bottom: calc(4 / 16 * 1rem) solid var(--orange-500);
          color: black;
          outline: none;
        }
      }
    }

    .header__cart-button {
      position: relative;
      background: transparent;

      margin-inline-start: auto;
      margin-inline-end: calc(24 / 16 * 1rem);

      margin-block-start: calc(9 / 16 * 1rem);

      .header__cart-item-count {
        position: absolute;
        top: calc(-7 / 16 * 1rem);
        right: calc(-5 / 16 * 1rem);

        font: var(--text-preset-6);
        width: calc(19 / 16 * 1rem);
        height: calc(13 / 16 * 1rem);
        border-radius: calc(10 / 16 * 1rem);

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--orange-500);
        color: var(--white);
      }

      @media (width >= calc(768 / 16 * 1rem)) {
        margin-block-start: calc(11 / 16 * 1rem);
        margin-inline-end: calc(48 / 16 * 1rem);
      }
    }

    .header__cart-button[aria-expanded=true] ~ .header__cart {
      opacity: 1;
    }

    .header__cart {
      position: absolute;
      right: calc(7.5 / 16 * 1rem);
      top: 110%;
      z-index: 1;

      opacity: 0;

      @media (width >= calc(768 / 16 * 1rem)) {
        top: 80%;
        right: -10%;
      }

      @media (width >= calc(1440 / 16 * 1rem)) {
        top: 80%;
        right: -7%;
      }
      
      width: calc(360 / 16 * 1rem);
      padding-block: calc(24 / 16 * 1rem);
      background-color: white;

      display: flex;
      flex-direction: column;
      gap: calc(24 / 16 * 1rem);

      border-radius: calc(10 / 16 * 1rem);
      box-shadow: 0 calc(20 / 16 * 1rem) 50px -20px rgba(29, 32, 38, 0.1);

      h3 {
        font: var(--text-preset-3-bold);
        padding-inline-start: calc(12 / 16 * 1rem);
        padding-block-end: calc(24 / 16 * 1rem);
        border-bottom: 1px solid var(--grey-100);
      }

      p {
        font: var(--text-preset-3-bold);
        color: var(--grey-500);
        text-align: center;
      }

      ul {
        padding-inline: calc(24 / 16 * 1rem);
      }

      .cart-item {
        display: grid;
        grid-template-columns: calc(50 / 16 * 1rem) 1fr calc(14 / 16 * 1rem);
        grid-template-rows: repeat(2, calc(25 / 16 * 1rem));
        column-gap: calc(16 / 16 * 1rem);
        align-items: center;

        img {
          grid-column: 1;
          grid-row: 1 / -1;
          border-radius: calc(4 / 16  * 1rem);
        }

        .item-name {
          grid-column: 2;
          grid-row: 1;
          font: var(--text-preset-3);
          color: var(--grey-500);
        }

        .item-pricing {
          grid-column: 2;
          grid-row: 2;
          font: var(--text-preset-3);
          color: var(--grey-500);

          span {
            font: var(--text-preset-3-bold);
            color: var(--grey-950);
          }
        }

        .item-delete {
          grid-column: 3;
          grid-row: 1 / -1;

          background-color: transparent;
          fill: var(--grey-300);
        }

        .item-delete:hover {
          fill: red;
          cursor: pointer;
        }
      }

      .cart__checkout {
        background-color: var(--orange-500);
        padding-block: calc(16 / 16 * 1rem);
        border-radius: calc(10 / 16 * 1rem);
        margin-inline: calc(24 / 16 * 1rem);
        font: var(--text-preset-3-bold);
      }

    }

    .header__user-profile {
      width: calc(30 / 16 * 1rem);
      border: calc(2 / 16 * 1rem) solid transparent;

      @media (width >= calc(768 / 16 * 1rem)) {
        width: calc(50 / 16 * 1rem);
        height: auto;
      }
    }

    .header__user-profile:focus {
      outline: none;
      border: calc(2 / 16 * 1rem) solid var(--orange-500);
      border-radius: 50%;
    }
  }
}

@layer productPage {
  .product-page {
    .product-page__lightbox {

      .lightbox__carousel {
        height: inherit;
        position: relative;
        overflow: hidden;
      }

      .lightbox__carousel-images {
        height: calc(300 / 16 * 1rem);
        display: flex;

        transition: transform 0.5s;

        img {
          flex: 0 0 100%;
          object-fit: cover;
          @media (width >= calc(768 / 16 * 1rem)) {
            border-radius: calc(15 / 16 * 1rem);
          }
        }

        @media (width >= calc(768 / 16 * 1rem)) {
          height: calc(290 / 16 * 1rem);
        }

        @media (width >= calc(1440 / 16 * 1rem)) {
          height: auto;
          transition: none;
        }

      }

      .lightbox__carousel-controls {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        
        width: calc(40 / 16 * 1rem);
        height: calc(40 / 16 * 1rem);
        border-radius: 50%;

        svg {
          fill: none;
        }

        display: flex;
        justify-content: center;
        align-items: center;

        @media  (width >= calc(1440 / 16 * 1rem)) {
          display: none;
        }
      }

      .lightbox__carousel-prev {
        left: calc(16 / 16  * 1rem);
      }

      .lightbox__carousel-next {
        right: calc(16 / 16  * 1rem);
      }

      .lightbox__carousel-thumbnails {
        display: none;

        > * {
          position: relative;
          border: 2px solid transparent;
          background-clip: padding-box;
        }

        .selected {
          border: 2px solid var(--orange-500);
        }

        .selected::after {
          content: "";
          position: absolute;
          inset: 0;
          z-index: 2;
          background-color: rgba(255, 255, 255, 0.5);
        }

        @media (width >= calc(1440 / 16 * 1rem)) {
          display: flex;
          gap: calc(32 / 16 * 1rem);
          margin-top: calc(32 / 16 * 1rem);
  
          > * {
            border-radius: calc(10 / 16 * 1rem);
            overflow: hidden;
          }
        }
      }
    }

    .product-page__content {
      padding-inline: calc(24 / 16 * 1rem);
    }

    .product-page__information {
      display: flex;
      flex-direction: column;

      gap: calc(16 / 16 * 1rem);

      margin-block-start: calc(24 / 16 * 1rem);

      span {
        font: var(--text-preset-6);
        letter-spacing: var(--letter-spacing-tp-six);
        text-transform: uppercase;
        color: var(--grey-500);
      }

      h2 {
        font: var(--text-preset-2);
        color: var(--grey-950);
      }

      p {
        font: var(--text-preset-4);
        color: var(--grey-500);
      }

      @media (width >= calc(768 / 16 * 1rem)) {
        margin-block-start: calc(48 / 16 * 1rem);
        gap: calc(24 / 16 * 1rem);

        h2 {
          font: var(--text-preset-1);
          /* max-width: 20ch; */
        }

        p {
          font: var(--text-preset-3);
        }
      }

      @media (width >= calc(1440 / 16 * 1rem)) {
        margin-block-start: 0;
      }
    }

    .product-page__pricing {
      margin-block: calc(32 / 16 * 1rem);
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      row-gap: calc(12 / 16 * 1rem);

      .product-page__current-price {
        font: var(--text-preset-2);
        color: var(--grey-950);
      }

      .product-page__discount {
        display: grid;
        align-items: center;

        margin-inline-start: calc(16 / 16 * 1rem);

        background-color: var(--grey-950);
        border-radius: calc(6 / 16 * 1rem);
        padding-inline: calc(10 / 16 * 1rem);

        font: var(--text-preset-3-bold);
        color: var(--white);
      }

      .product-page__original-price {
        margin-inline-start: auto;
        text-decoration: line-through;

        font: var(--text-preset-3-bold);
        color: var(--grey-500);
      }

      @media (width >= calc(768 / 16 * 1rem)) {
        width: 30%;
        margin-block: calc(24 / 16 * 1rem);

        .product-page__original-price {
          margin-inline-start: 0;
        }
      }

      @media (width >= calc(1440 / 16 * 1rem)) {
        width: 50%;
      }
    }

    .product-page__actions {
      display: flex;
      flex-direction: column;
      gap: calc(16 / 16 * 1rem);

      .product-page__set-quantity {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: calc(16 / 16 * 1rem);
        border-radius: calc(10 / 16 * 1rem);
        background-color: var(--grey-50);

        font: var(--text-preset-3-bold);

        button {
          background: transparent;
        }
      }

      .product-page__add-to-cart {
        display: flex;
        gap: calc(16 / 16 * 1rem);
        justify-content: center;
        align-items: center;

        svg {
          width: calc(17.46 / 16 * 1rem);
          height: calc(16 / 16 * 1rem);
        }

        padding-block: calc(16 / 16 * 1rem);
        border-radius: calc(10 / 16 * 1rem);
        background-color: var(--orange-500);

        font: var(--text-preset-3-bold);
      }

      @media (width >= calc(768 / 16 * 1rem)) {
        flex-direction: row;

        > * {
          flex-grow: 1;
        }
      }

      @media (width >= calc(1440 / 16 * 1rem)) {
        .product-page__add-to-cart {
          flex-grow: 2;
        }
      }
    }

    @media (width >= calc(768 / 16 * 1rem)) {
      margin-block-start: calc(48 / 16 * 1rem);

      .product-page__content {
        padding-inline: 0;
      }
    }

    @media (width >= calc(1440 / 16 * 1rem)) {
      padding-inline: calc(45 / 16 * 1rem);
      margin-block-start: calc(96 / 16 * 1rem);

      display: flex;
      gap: calc(128 / 16 * 1rem);

      .product-page__lightbox {
        flex: 0 0 calc(448 / 16 * 1rem);
      }

      .product-page__content {
        align-self: center;
      }
    }
  }
}
